<?xml version="1.0"?>
<configuration>
  <system.runtime.remoting>
    <application>
      
      <client url="tcp://localhost:50001">
        <wellknown type="ProcessControl.CPCSInterface,ProcessControl" url="tcp://localhost:50001/PCSUri"/>        
      </client>

      <client url="tcp://localhost:50002">
        <wellknown type="ResultManagement.CRMSVerifyInterface,ResultManagement" url="tcp://localhost:50002/RMSVerifyUri"/>
      </client>

      <service>
        <wellknown mode="Singleton" type="ResultVerification.CRVS,ResultVerification" objectUri="RVSUri"/>
      </service>

      <channels>
        <channel ref="tcp" port="50006"/>
      </channels>
      
    </application>
  </system.runtime.remoting>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
