<?xml version="1.0"?>
<configuration>
  <system.runtime.remoting>
    <application>

      <client url="tcp://localhost:50001">
        <wellknown type="ProcessControl.CPCSInterface,ProcessControl" url="tcp://localhost:50001/PCSUri"/>
      </client>
      
      <service>
        <wellknown mode="Singleton" type="ResultManagement.CRMSTeachingInterface,ResultManagement" objectUri="RMSTeachingUri"/>
      </service>
      
      <service>
        <wellknown mode="Singleton" type="ResultManagement.CRMSVerifyInterface,ResultManagement" objectUri="RMSVerifyUri"/>
      </service>

      <service>
        <wellknown mode="Singleton" type="ResultManagement.CRMSAutoInspInterface,ResultManagement" objectUri="RMSAutoInspUri"/>
      </service>

      <service>
        <wellknown mode="Singleton" type="ResultManagement.CRMSPunchingInterface,ResultManagement" objectUri="RMSPunchingUri"/>
      </service>

      <channels>
        <channel ref="tcp" port="50002"/>
      </channels>

    </application>
  </system.runtime.remoting>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
